* {
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: #ffffffe1;

}

.container {
    width: 100%;
    margin: 0 auto;
    background-color: #ffffffe1;
}

section {
    padding: 0 20px 0 20px;
}

h2 {
    text-align: center;
    padding: 50px;
}

p, a, h3 {
    color: black;
    text-decoration: none;
}

.navbar {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #bdfcbd;
    z-index: 99;
}

.nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding: 12px 0;
}

.nav-list-item-link {
    background-color: #bdfcbd;
    border-radius: 5px;
    padding: 6px 20px;
    transition: all 0.5s ease;
}

.nav-list-item-link {
    width: 100%;
    text-decoration: none;
    color: black;
    background-color: #bdfcbd;
    border-radius: 5px;
    padding: 8px 20px;
    transition: all 0.5s ease;
}

.nav-list-item-link:hover {
    background-color: #afe0af;
}

.content-container {
    max-width: 1024px;
    width: 100%;
    padding-top: 10px;
    background-color: #ffffffe1;
    line-height: 1.7rem;
    font-size: 125%;

    transition: all 0.75s ease-in-out;
}

.img-container {
    padding: 10px;
}

.col-1 {flex-basis: 8.33%;}
.col-2 {flex-basis: 16.66%;}
.col-3 {flex-basis: 25%;}
.col-4 {flex-basis: 33.33%;}
.col-5 {flex-basis: 41.66%;}
.col-6 {flex-basis: 50%;}
.col-7 {flex-basis: 58.33%;}
.col-8 {flex-basis: 66.66%;}
.col-9 {flex-basis: 75%;}
.col-10 {flex-basis: 83.33%;}
.col-11 {flex-basis: 91.66%;}
.col-12 {flex-basis: 100%;}

.portrait {
    border-radius: 5px;
    width: 250px;
    display: block;
}

.about-container {
    display: block;
    text-align: center;
}

.about-social-item {
    color: #000;
    transition: all 0.35s ease;
}

.about-social-item-resume {
    color: #000;
}

.about-social-item-twitter {
    color: #00acee;
}

.about-social-item-linkedin {
    color: #0e76a8;
}

.about-social-item-github {
    color: #6e5494;
}

.fab {
    font-size: 1.4rem;
}

.fas {
    font-size: 1.3rem;
}

.resume-button {
    display: inline;
    padding: 2px 2px 1px 4px;
    background-color: #bdd3fc;
    border-radius: 4px;
    margin: 5px;
}

.resume-button:hover {
    background-color: #94b5f1;
}
.para-space {
    padding: 0 0 15px 0px;
}

.search {
    display: flex;
    border: 1px solid #b4b4b4;
    border-radius: 10px;
    padding: 5px 0;
    margin: 0 0 10px 0;
    
    
}
.search input {
    padding: 10px;
    background-color: white;
    border: none;
    width: 100%;    
}

input:focus {
    outline: none;
}

.news-container {
    background-color: #bdf3f3;
    border-radius: 10px;
    padding: 20px;
}

.news-date-container {
    text-align: left;
    padding-bottom: 10px;
}

.filter {
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #b4b4b4;
}

label {
    display: flex;
    position: relative;
    padding-left: 35px;
    margin-bottom: 6px;
    margin-top: 6px;
    cursor: pointer;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  label:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  label input:checked ~ .checkmark {
    background-color: #b4b4b4;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

.project-container a:hover {
    text-decoration: underline;
}

.project-type-research, .project-type-hackathon, .project-type-personal {
    display:inline;
    border-radius: 3px;
    padding: 1px 4px;
}
.project-type-research {
    background-color: wheat;
}

.project-type-hackathon {
    background-color: #f89898;

}

.project-type-personal {
    background-color: #c5a3e6;
}

.project1-img1, .project1-img2, .project2-img1, .project2-img2, .project3-img1, .project3-img2 {
    width: 140px;
    border-radius: 5px;
}

.project-info {
    padding-bottom: 1.5rem;
}

.project-link {
    margin-right: 10px;
}

.project-icon {
    font-size: 1rem;
}

.copyright {
    padding: 1rem 10px;
}

@media screen and (min-width: 768px) {
    h2 {
        padding: 2rem 0;
        text-align: left;
    }

    section {
        padding: 20px;
    }

    .content-container {
        max-width: 1024px;
        width: 100%;
        padding-top: 10px;
        line-height: 1.5rem;
        font-size: 100%;
    }

    .row{
        display: flex;
        box-sizing: border-box;
        flex-wrap: wrap;
        align-self: start;
    }

    .about-container {
        display: unset;
        text-align: left;
    }

    .portrait {
        border-radius: 20px;
        width: 250px;
        display: unset;
        padding: 0;
    }

    .resume-button {
        display: inline;
        padding: 5px 2px 1px 4px;
        background-color: #bdd3fc;
        border-radius: 4px;
        margin: 0px;
        margin-right: 5px;
    }

    .news-date-container {
        text-align: right;
    }

    .para-space {
        padding: 0 0 10px 0;
    }

    .img-row {
        display: unset;
        justify-content: unset;
    }

    .filter {
        display: flex;
    }
}